h1 {
	font-size: 30px;
  padding-bottom: 20px;
}

h2 {
	font-size: 26px;
  padding-bottom: 10px;
}

p {
  font-weight: 400;
  font-family: Literata, sans-serif;
  font-size: 18px;
  padding-bottom: 10px;
}

ul {
	font-weight: 400;
  font-family: Literata, sans-serif;
  font-size: 18px;
  padding-bottom: 10px;
  list-style-type: disc;
  padding-left: 20px; /* Adjust as needed */
}
