h1 {
	font-size: 30px;
  padding-bottom: 20px;
}

h2 {
	font-size: 26px;
  padding-bottom: 10px;
}

h1, h2 {
  font-family: Montserrat;
  font-weight: 600;
}

p {
  font-size: 18px;
  padding-bottom: 10px;
}

ul {
  font-size: 18px;
  padding-bottom: 10px;
  list-style-type: disc;
  padding-left: 20px; /* Adjust as needed */
}
